.pagination-box  p.text-sm {
    margin-right: 10px;
}

.post-img-h {
    max-height: 100px;
}
.btn-mw {
    min-width: 123px;
    max-width: 100%;
}

.settings-banner-img {
    max-height: 500px;
    width: 100%;
}

